.portfolio-container{
    display: flex;
    margin: 9em;
    margin-left: 20vw;
    flex-flow: row wrap;
    align-items: center;
}
.portfolio-item{
    color: $mainColor;
    padding: 1em;
    img{
        margin-top: 2em;
    }
    h1{
        font-size: $h1size;
        padding-right: 15em;
        padding-left: 4em;
        margin-bottom: 0;
        text-shadow: 2px 2px $h1Shadow;
    }
}

/*--------------MOBILE--------------*/

@media screen and (max-width: 800px){
    .portfolio-container{
        padding: 0;
        margin:0;
        margin-top: 15vh;
        margin-left: 8vw;
    }
    .portfolio-item{
        padding: 0;
        margin: 0;
        img{
            width: 25vw;
            height: auto;
            margin: 8vw;

        }
        h1{
            font-size: $Mh1;
            padding:0;
            margin-right:28vw;
            margin-left: 15vw;
            margin-bottom: 5vw;
        }
    }
}
