.contact-container{
    display: flex;
    flex-flow: column;
    width: 60em;
    margin: 10em;
    margin-left: 25em;
    margin-bottom: 7vw;
    flex-wrap: wrap;
    color: $mainColor;
    h1{
        font-size: $h1size;
        text-shadow: 2px 2px $h1Shadow;
    }
    p{
        font-size: $pSize;
    }
    .contact-form{
        display: flex;
        border-radius: 3px;
        padding: 2em;
        .contact-item{
            flex: 1;
            input{
                width: 100%;
                font-size: 95%;
                font-family: 'Rubik', sans-serif;
                padding: 0.8em;
                margin-bottom: 1em;
                border-radius:10px;
                border:0;        
                box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.452);
            }
        }
       label{
           font-size: $pSize;
       }
    }
    .message-item{
        margin-left: 2em;
        display: flex;
        flex-direction: column;
        height: 15em;
        & > textarea{
            flex: 1;
            width: 35em;
            font-size: 95%;
            font-family: 'Rubik', sans-serif;
            padding:0.8em;
            margin-bottom: 1em;
            border:0;        
            box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.452);
            border-radius:1em;
        } 
        button{
            appearance:none;
            -webkit-appearance:none;
            padding:1em;
            border:none;
            background-color:$mainColor;
            color:rgb(12, 12, 17);
            font-weight:600;
            border-radius:5px;
            width:100%;
            box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.452);
            font-family: 'Rubik', sans-serif;
            &:hover{
                cursor: pointer;
                background-color: rgba(255, 136, 0, 0.356);
            } 
        } 
    }
}
*{
    box-sizing: border-box;
}


.footer-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-shadow: 2px 2px $h1Shadow;
    a{
        color: $mainColor;
        &:hover{
            color: $hoverColor;
        }
    }
}

/*--------------MOBILE--------------*/

@media screen and (max-width: 800px){
    .contact-container{
        margin:0;
        width: 70vw;
        margin-top: 25vw;
        margin-left: 15vw;
        margin-bottom: 1vw;
        h1{
            margin:0;
            font-size: $Mh1;
        }
        p{
            font-size: $Mp;
            padding-bottom: 10vh;
            margin-right: -25vw;
            
        }
        .contact-form{
            padding: 0;
        }
        .contact-item{
            padding-right: 15vw;
            input{
                height: 3vw;
            }
            form{
                font-size: $Mp;
            }
        }
       
       .message-item{
            margin: 0;
            & > textarea{
                width: 30vw;
                padding:0;
                margin: 0;
                margin-bottom: 5vw;
                padding: 1vh;
            }
       }
       label{
        font-size: $Mp;
    }
    }  
    .footer-container{
        a{
            margin-top: 12vh;
            &:hover{
                color: $hoverColor;
            }
        }
    } 
}

