@import "./variables";

main{
    .home-container{
        display: flex;
        flex-flow: column;
        padding: 15vw;
        padding-left: 30vw;
        .home-item{
            color: $mainColor;
            h1{
                font-size: $h1size;
                margin-bottom: 0;
                text-shadow: 2px 2px $h1Shadow;
            }
            p{
                font-size: $pSize;
                margin-top: 1.5vw;
            }
        }
    }
    
}

/*--------------MOBILE--------------*/

@media screen and (max-width: 800px){
    main{
        .home-container{
            padding:0;
            margin-top:50vw;
            margin-left: 20vw;
            margin-right: 15vw;
            .home-item{
                h1{
                    font-size: $Mh1;
                }
                p{
                    font-size: $Mp;
                }
            }
        }
    }
}